[2015-06-12 12:56] Robadob opened #3 "Boss Level Notes"
Boss Levels tend to die fast, so would be useful to collect some data anyone can crawl from them, also worth commenting with any other useful boss level values found.

    //If level is boss
    if((g_Minigame.CurrentScene().m_nCurrentLevel + 1) % 10 == 0)
    //alt replace with g_Minigame.CurrentScene().m_rgGameData.level

I've managed to catch a boss's game object, and it appears their names are

[2015-06-12 13:37] mustachefeeling commented on #3
Boss level is causing some issues; after the boss is dead and the lane is empty, the script keeps trying to switch into the empty boss lane.

[2015-06-12 13:43] Robadob commented on #3
Yeah that's a known issue, it's commented about in the code, my own boss levels keep passing too fast for me to debug it thoroughly though

[2015-06-12 13:49] mustachefeeling commented on #3
I saw the "TODO" comment, but nothing specific, didn't mean to be redundant. Cheers.

[2015-06-12 13:50] Robadob commented on #3
Nah, don't worry. It might be better addressed with it's own issue such that it stands out.

[2015-06-12 14:10] wchill commented on #3
I'm going to try and look into this as well, the script as is made me miss a 27k/click Raining Gold.

I'll try to grab the network traffic from level 320 for you.

[2015-06-12 14:16] mustachefeeling commented on #3
This is an impressive undertaking, and I'm happy to scrape that as well if it would be helpful. Suggestions for programs to do that?

[2015-06-12 14:19] wchill commented on #3
I'm using Fiddler2 to do the inspection. Unfortunately it looks like the data is encoded, so you'll have to inspect the game source for any decoding algorithm that's being used.

[2015-06-12 14:19] Robadob commented on #3
I'm currently writing a new OP, so we can get everyone on Reddit playing in the same game after reset.

re: scraping the network traffic, wireshark or charlesproxy will probably work, however if we end up writing a standalone app that plays the game, it might be harder to inspire trust in users who wish to use it, it would be better to scrape the game states at known points of the game so we can k

[2015-06-12 14:34] wchill commented on #3
Here's a link to the capture data

https://www.dropbox.com/s/hpeyexw0cv9t52g/1161_Full.txt?dl=0

Again, it's encoded; I haven't found the decoding method but it should be somewhere in the game source.

This does not include any POST requests because (a) I forgot to capture them and (b) they shouldn't have any major influence on the game state.

[2015-06-12 14:36] sbx320 commented on #3
The data looks like it is in protobuf format.

http://steamcommunity-a.akamaihd.net/public/javascript/minigame/towerattack/network.js

A simple way to dump information would be modifying the network layer of the game to log data before passing it to the original networking stuff.

[2015-06-12 15:38] brickmaster32000 opened #6 "Label already declared"
When attempting to copy the script into either firefox or chrome I get the following error.

Uncaught SyntaxError: Label 'https' has already been declared
    at Object.InjectedScript._evaluateOn (<anonymous>:895:140)
    at Object.InjectedScript._evaluateAndWrap (<anonymous>:828:34)
    at Object.InjectedScript.evaluate (<anonymous>:694:21)

[2015-06-12 15:53] mouseas commented on #6
What did you copy? My first guess is you might have opened the file here in github and copied the entire web page, not just the javascript code.

[2015-06-12 17:12] brickmaster32000 commented on #6
Ah found the problem noscript was adding a couple extra lines to the end of the file.

[2015-06-12 17:12] #6 closed

[2015-06-12 17:28] mouseas commented on #3
I got boss levels working correctly now. It was as simple as checking each enemy's type; 2 is boss, 3 is miniboss (0 is spawner, 1 is creep)

[2015-06-12 17:28] #3 closed

[2015-06-12 17:38] Gerarddp opened #8 "Go to lane with a chest if available"

[2015-06-12 17:44] josefwells commented on #8
Similarly, go to a lane with "Raining Gold", probably only if there is a spawner/boss left

[2015-06-12 18:12] xPaw commented on #8
It should also target based on elemental upgrades.

[2015-06-12 18:26] Ratzap opened #13 "Switch lanes for elemental damage"
Switch lanes to use the best elemental damage perhaps? For example if I have L7 fire and L3 everything else, it should seek out the fire lanes

[2015-06-12 18:37] mouseas commented on #13
I'll leave this for someone else to implement.

Note that with 1000 players per game, each player's contribution to damage is small. Optimizing by element isn't a bad idea, but doesn't benefit you much since you only get rewarded for being in the lane an enemy dies in.

[2015-06-12 18:39] mouseas commented on #8
I'll leave this for someone else to implement.

Note that Raining Gold doesn't affect this script since the script doesn't auto-click and Raining Gold relies on actively clicking enemies.

[2015-06-12 18:40] mouseas commented on #8
@Gerarddp - Are the chests you're referring to Treasure Minions? If so, the latest version targets them first, which would mean this issue is already fixed.

[2015-06-12 18:54] Gerarddp opened #15 "Go to raining gold lane"
https://github.com/mouseas/steamSummerMinigame/issues/8#issuecomment-111571319

[2015-06-12 18:54] Gerarddp commented on #8
Yes, thank you. For all the other issues in this thread see #13 and #15

[2015-06-12 18:54] #8 closed

[2015-06-12 18:59] mouseas opened #17 "Memory leak - uses up large amounts of RAM for some users"
Some users are reporting that when they use this script, their browser eats up memory at a ridiculous rate, indicating some sort of memory leak.

[2015-06-12 19:00] wchill commented on #17
It actually has nothing to do with the script itself. The game is just full of memory leaks.

[2015-06-12 19:01] wchill commented on #17
I double checked this yesterday when the game tab ate up 3.8GB and caused Chrome to crash.

[2015-06-12 19:02] Gerarddp commented on #13
Switching when someone is about to die would solve it, but I don't know if it's possible with the delay and freezes that are happening sometimes.

[2015-06-12 19:03] Gerarddp commented on #17
I can confirm that too, the script add a bit of overhead but is not the cause.

[2015-06-12 19:05] Eriner commented on #17
Indeed, I have benchmarked two tabs (one with the script, one without), and RAM usage is very similar.

[2015-06-12 19:28] RockyTV opened #19 "Auto purchase upgrades and abilities"
- ~~Auto click should be added;~~
- It should purchase the auto cannon and the click upgrades automatically if it has the money;
- ~~Attack 3 targets at a time?~~

[2015-06-12 19:30] mouseas commented on #19
Auto click is against the purpose of this script. Excellent auto click scripts exist elseware, and can run alongside this script.

Purchasing upgrades and abilities is on the TODO list.

Attacking 3 targets is also against the purpose of this script, for the same reason.

[2015-06-12 19:31] Gerarddp commented on #19
Auto click won't be added as @mouseas request, if you want it go to https://github.com/wchill/steamSummerMinigame or https://github.com/Gerarddp/steamSummerMinigame

[2015-06-12 19:34] BKPepe commented on #17
I can confirm this too. It caused Firefox to crash atleast 4 times.

[2015-06-12 19:35] mouseas commented on #17
It seems the particles (and graphics in general) are the culprit. I've been told that some particles aren't being destroyed properly, so they just build up over time.

Players using auto-clickers have been hit the worst, since each click emits a bunch of particles.

However, we might be able to help the situation if we add some code to clean up particles, e.g. calling `destroy()` on every particle

[2015-06-12 19:37] wchill commented on #17
I talked with someone in Steam chat who suggested removing the particle effects, apparently there are still memory leaks but they are vastly improved. Well worth implementing as an option.

[2015-06-12 19:40] Eriner commented on #17
I put one vote in to remove the effects altogether; remove the source rather than 'fix' it.

[2015-06-12 19:44] mouseas commented on #13
@Gerarddp A recent pull request added switching to a creep if the spawners are all above 40% and the creeper is below 20% hp. Is that what you're talking about?

[2015-06-12 19:46] Gerarddp commented on #13
That would be good enough, now just need to add going to the lane with most elemental damage if everything is above 20%.

[2015-06-12 20:14] mouseas commented on #17
@wchill Got an implementation? I know some of the auto-clickers are bypassing `DoClick()` to avoid visual effects, but since this script doesn't click, that doesn't help.

[2015-06-12 20:19] wchill commented on #17
[code]

I assume stubbing those out should do the trick.

[2015-06-12 20:28] wchill commented on #17
[code]

[2015-06-12 20:33] mouseas commented on #17
@wchill Glorious, that works ~~flawlessly~~! Thanks!

I've just added that to the top of the script.

[2015-06-12 20:50] mouseas commented on #17
Ok, it's not flawless. It causes an error in the game code, `junning.js:979`. Let's see if we can fix this!

[2015-06-12 21:00] Contex commented on #17
@mouseas see my comment in 5b0aacef876dc833d983eeaaa13e86d8a1347742

[2015-06-12 21:03] mouseas commented on #17
@Contex - Awesome, I'm getting to errors in the console so far. Thanks!

[2015-06-12 21:03] #17 closed

[2015-06-12 21:06] Contex commented on #17
@mouseas glad to hear, no problem!

[2015-06-12 22:46] Xinayder commented on #19
Why is autoclicking against the purpose of this script? It is the same thing as executing this script twice.

[2015-06-12 22:59] mouseas commented on #19
I'm trying to keep the script within the bounds of what a human player can do, and I also don't want it to get players banned or cause Valve to respond. Auto-clicking, especially far more than a human could do, is likely to cause Valve to patch the game or ban players. I'm not opposed to people using an auto-clicker, but I'm not going to include it in my script.

[2015-06-12 23:06] EhsanKia commented on #13
Once we have a full fledged AI, we need to figure out the optimal way to spend money.
I think in a perfect scenario, each player chooses an element and maxes out that one, and we choose lane according to our elements until some creep is below 20%.

We need a proper cost analysis though to see if that's the best way to play this out, or if spreading cost across all elements is better.

[2015-06-12 23:39] ZedTheYeti commented on #13
@EhsanKia To make this the most effective, wouldn't we need some kind of communication? To accurately choose a type we'd need to know A) who is in the same lane and B) and the types everyone has maxed or highest, or at least everyone using the script.

[2015-06-12 23:43] ZedTheYeti commented on #19
My idea for auto purchasing would be that we decide on upgrades that are important and upgrade them in rounds. So at low level we upgrade Light Armor if we can, then Auto-fire Cannon if we can, then Armor Piercing Round if we can, after that we repeat. Once new upgrades are available we switch to that and start doing rounds of upgrading them. Thoughts?

[2015-06-12 23:44] Xinayder commented on #19
And then try to keep all upgrades in the same level.

[2015-06-12 23:47] Ruzihm commented on #13
I just ran the numbers and generalizing your upgrades and specializing are equal IF AND ONLY IF you are assigned lane elements uniformly and randomly.  But since this is not the case, specializing is more efficient.

Trying to get this to work would be annoying but you could just:

[code]

[2015-06-12 23:53] ZedTheYeti commented on #19
Exactly, for nice even upgrades. Don't move on to the next "tier" until they're all the same. It may not be the most effective way to do it, but it's fairly simple.

[2015-06-13 00:24] Ruzihm commented on #19
Handling the tiers is pretty easy. Each one is 10x the previous one so you
compare the price of tier 1, the price of tier 2 divided by 10, and the
price of tier 3 divided by 100 and pick the lowest.

[2015-06-13 00:54] mouseas commented on #19
We'll want to buy abilities alongside upgrades. Medics should be one of the first purchases after a few armor + autocannon upgrades.

Also, since the script doesn't auto-click, we should reduce the importance of click damage upgrades (with an easy method to bring it up to on par with auto-damage upgrades for people using an auto-clicker).

[2015-06-13 00:58] Xinayder commented on #19
Just read this in the readme:

Auto-purchasing/farming by gold is also cheating. So, why not include the auto-click? Create a new branch for it.

[2015-06-13 01:02] Eriner commented on #19
@RockyTV This is a fork with auto-clicking: https://github.com/wchill/steamSummerMinigame

@mouseas doesn't want to implement it, so leave it be. Use that fork if you must.

[2015-06-13 01:18] mouseas opened #39 "Update README to list current features"

[2015-06-13 01:21] russeli commented on #19
How should the elemental damage be valued?
p =  odds of element appearing atleast in one lane
p*cost/multiplier?

[2015-06-13 02:19] ghost commented on #19
I think the elemental damage should be considered alongside the damage upgrades. Perhaps a basic level 2 for each element somewhere in the first few purchases (it does help a lot), then some more strategic planning as the game progresses.

Perhaps the importance of click damage upgrades vs autocannon should be up to a true/false at the top indicating if the user prefers auto clicking? Also, the va

[2015-06-13 02:26] EhsanKia commented on #13
Yeah, my assumption is that if we each take one randomly (uniform distribution), then at a large enough scale, it would even out nicely. Since there are 4 elements, and 1500 in the server, even if 10-20% of those people run the script, the variance will be negligible.

Doesn't need to be a crazy cryptographically secure PRNG either, `parseInt(Math.random() * 4)` should be good enough. Later on in

[2015-06-13 02:33] ZedTheYeti commented on #13
What if we split it 2/1 or 3/1 or something. As in, upgrade our chosen element two or three times then upgrade all others or a few others once.

[2015-06-13 02:39] ghost commented on #19
Also, something else I just thought of. Some way to prioritize and auto-purchase the one-use badge abilities at the beginning of each day (see table at bottom of [relevant link](http://www.reddit.com/r/Steam/comments/39i0qc/psa_how_the_monster_game_works_an_indepth/)). I'd assume the gold-per-click would be one of the best ones to get, but perhaps the others could be prioritized in some way. This

[2015-06-13 03:13] mouseas commented on #39
Done.

[2015-06-13 03:13] #39 closed

[2015-06-13 03:14] mouseas opened #44 "Add browser-specific console instructions in Manual instructions"
Since each browser varies in how to get to the javascript console, each browser should have a few lines with exact steps.

[2015-06-13 03:48] DarkLordJack commented on #44
I'll do it. Give me an hour or so.

[2015-06-13 04:16] sithrebel15 commented on #44
Added in mouseas/steamSummerMinigame/pull/46

[2015-06-13 04:18] Mazdin opened #47 "Mis-spelt Tampermonkey"
On the Installation instructions for tampermonkey (https://github.com/mouseas/steamSummerMinigame#tampermonkey) You mis-spelt tampermonkey as tapermonkey

[2015-06-13 04:29] sithrebel15 commented on #47
Fixed in 4dde8fa6169ccc350af34efcb768b89bbc09722f

[2015-06-13 04:50] DarkLordJack commented on #15
Added from downstream in 99151b527cccdbdd4839a1481770f5b2238236a4 and
2dedb22217a87e8fbe596472f9bc504b829c9d5a.

[2015-06-13 05:24] #47 closed

[2015-06-13 05:27] mouseas commented on #19
@JCKE - about auto-purchasing reward items - raise it as a new issue (`enhancement` and `help wanted`).

[2015-06-13 05:38] mouseas commented on #44
Thanks!

[2015-06-13 05:38] #44 closed

[2015-06-13 06:01] JCKE opened #52 "Auto purchase badge-point reward items each day"
https://github.com/mouseas/steamSummerMinigame/issues/19#issuecomment-111658489
Should check if reward items are purchasable, and prioritize how to efficiently spend badge points amongst them. Something I thought I remembered reading somewhere was a limit of 25 of each, but you'll have to double check that.

[2015-06-13 09:00] ZedTheYeti commented on #52
I'm assuming we'll be able to detect it the same way we do the respawn menu. So we just need to figure out how to buy them, how to determine how many points we have, and come up with a plan on which to upgrade. Some people looking at this code when it comes up tomorrow would be really helpful. Though we could just pick through the source as well.

[2015-06-13 09:38] Robadob opened #56 "Game allegedly includes autoclick detection"
http://www.reddit.com/r/SteamMonsterGame/comments/39ny04/monster_game_seems_to_have_built_in/
Apparently Clicks/ps is capped at 18.2, but this degrades down to 0.5 if you don't move your mouse. Can't confirm myself, but it's worth a look at, had a few people contact me to ask for script to be updated to include it.

[2015-06-13 09:48] ghost commented on #52
I've been picking through the source my self in-between working on some pull requests, and it seems fairly simple. The only tricky thing will be testing I suppose.

**EDIT:** working on right now [over on my repo](https://github.com/JCKE/steamSummerMinigame/tree/badgePoints). Feel free to join in!

[2015-06-13 10:38] kiradotee commented on #56
Comments there suggest to disable the check for mouse movement AND/OR to set g_msTickRate =1100;

[2015-06-13 10:41] kiradotee opened #57 "Switch to the lane with a boss?"
Mine sometimes goes away from that lane.

[2015-06-13 12:14] Insferatu opened #60 "Losing extra money from Gold Rain"
Right now hit animation and damage are not shown. On the Boss level Gold Rains are activated, but no extra money added, it looks like "There is no hit animantion, which means you doesn't hit monster, which means you don't receive extra gold during Gold Rain".

[2015-06-13 14:47] mouseas commented on #56
Since this script itself doesn't include an auto-clicker, and every suggestion I've made to other developers recommends no more than 10 clicks/sec, I don't think it's an issue for this script.

[2015-06-13 14:48] mouseas commented on #57
The code is supposed to prefer the boss lane. Has anyone else experienced it switching away from the boss before the boss dies?

[2015-06-13 14:51] mouseas commented on #60
Gold Rain requires you to click to benefit from it. The text animation for gold gained is _not_ suppressed, so you should still see the yellow text when clicking while Gold Rain is active. If that's not happening, re-open this issue.

[2015-06-13 14:51] #60 closed

[2015-06-13 18:03] win0na commented on #57
No, I've never experienced that.

[2015-06-13 20:16] win0na commented on #56
This pull request (https://github.com/mouseas/steamSummerMinigame/pull/69) implements a workaround by resetting g_msTickRate every single time the script clicks in the gold rain clicker. Therefore, it bypasses the autoclick detection.

[2015-06-13 20:16] #56 closed

[2015-06-13 20:47] TheSnowQueen opened #73 "[Question] Can't click manually ?"
Since we have autoclick for goldrain, i can't click to do damage or maybe damage don't appear.
It's just me or it's a feature ?

[2015-06-13 20:51] win0na commented on #73
The monsters are still getting inflicted with damage. You just don't see it, to save on memory usage.

[2015-06-13 21:07] #73 closed

[2015-06-13 22:50] regener commented on #57
Yes, it does leave the lane before the boss dies so I get no gold for it.
I think the clients gets slower the information about the boss's current state (alive or dead) then expected, so the script leaves the lane because it thinks the boss is dead.

Maybe if you can wait for gold to increase then switch lane should help.

[2015-06-14 01:30] Kline- opened #79 "Auto-clicker seems to have been added in one of the latest updates"
Got the update redirect in TamperMonkey and...There now seems to be auto-clicking going on. What gives?

[2015-06-14 01:32] win0na commented on #79
If you are running 2.0 or later, this is the current disclaimer. Pay attention to the last part.

![ss 2015-06-13 at 08 31 21](https://cloud.githubusercontent.com/assets/4269491/8146648/42b8a894-120b-11e5-9126-09533211e88f.png)

[2015-06-14 01:34] Kline- commented on #79
That seems pretty contradictory...Saying there won't be an autoclicker yet still having one only in certain situations. Well, it had a good run. Back to no script then I guess.

[2015-06-14 01:38] win0na commented on #79
It is not meant to be contradictory. If it is, then I can reword it. The point of this script is to optimize gold retrieval. Normal clicking (thus normal autoclicking) does not give you extra gold. Only when the monster dies is when you receive gold, and even then, everyone in the lane receives the gold, thus rendering normal autoclicking pointless.

However, whenever raining gold / gold rain is r

[2015-06-14 05:19] cpinzone opened #80 "Automatic re-direct to GitHub page"

[2015-06-14 05:21] #80 closed

[2015-06-14 19:56] AlexLeporiday commented on #57
I too have witnessed the lane switch during a boss but not very frequently.

[2015-06-14 19:57] AlexLeporiday commented on #79
Would you please add a toggle somewhere to disable any and all auto-clicks and item uses?
I like the lane switching feature but I prefer to manually drive the clicking and item use.

[2015-06-14 20:28] oedw commented on #57
Could it have something to do with this now? https://github.com/wchill/steamSummerMinigame/issues/118

My boss id is 0, not 2 :/

[2015-06-15 00:15] ghost commented on #57
Maybe wait a second after the client thinks it's dead before switching?

[2015-06-15 00:25] Aeruja commented on #57
It probably switches lane to kill off a weakened enemy or that an minion got hit with a falling gold before the boss does..though those few seconds of switching could mean the difference of 100k vs 100m

[2015-06-15 00:44] LMariachi opened #84 "Nuke, Cluster, & Napalm firing too fast"
There doesn’t seem to be an internal timer after Nuke, Cluster, or Napalm, so a lane that triggers one also triggers the others in rapid succession, since their tests are identical (or close enough.) It should give the first ability triggered time to work before checking again, especially with Napalm since it takes effect over a few seconds.

[2015-06-15 00:58] ghost commented on #52
So this has been fully implemented, and the issue can probably be closed. I think we should still weight the distribution of what is bought, though

[2015-06-15 03:36] sktan opened #89 "When should Cripple Monster be used?"
Should it be used on bosses (which reduces the optimal gold earning per boss-fight) and also goes against the strategy guides used by nearly everyone.
Or should it be used on spawners when the CRIPPLE_SPAWNER item can't be currently used.

[2015-06-15 04:08] regener commented on #57
JCKE: I have tried that with a check of lasttartget (should be ENEMY_TYPE.BOSS) and current one (should be one from the other ENEMY_TYPE-s), but it fails to detect.

[2015-06-15 04:24] ozerugae commented on #57
@regener by lasttarget do you mean: m_nTarget?

[2015-06-15 04:37] Gencode opened #91 "Modify auto purchase"
Is there a way to disable the purchasing or lower the value of click dmg upgrades? As I'm only interested in Health, Auto Cannon and Elemental Dmg.

[2015-06-15 04:42] regener commented on #57
Not really, I am new to scripting so I though that would do it: (and don't laugh if I made it wrong xD)

[code]

[2015-06-15 05:00] gapple commented on #91
within `purchaseUpgrades()`, change the `avgClicksPerSecond` variable.

`0` will disable purchasing click upgrades, or just choose a fraction for a different balance (I have been using 1/100 in early game)

[2015-06-15 05:06] Torsdan commented on #91
Thanks @gapple

[2015-06-15 05:06] #91 closed

[2015-06-15 05:27] ozerugae commented on #57
It's a learning experience; we all started there ;)

[code]

can be condensed to

[code]

However, I can't see how the code will work as the moment the target changes, the lane would change as there is only one target in the boss lane. Or maybe I am missing something?

I would just check whether the boss is dead and then only allow the lane to change. You can do that by looping through g_Minigame.

[2015-06-15 05:39] ghost commented on #89
I'd say spawners, as the bosses go down fast enough as is. Also, we need to look into mass spamming abilities near the end of the day to get some use out of them

[2015-06-15 06:04] ghost commented on #79
I can do this tomorrow, the toggle functionality is already added in the [SteamDatabase](https://github.com/SteamDatabase/steamSummerMinigame) fork so it should be easy to implement.

Also, we should start cherry-picking some of their stuff to integrate back in. Some nice stuff like their `s()` function instead of typing `g_Minigame.m_CurrentScene` all the time, plus they've already got `useTreasu

[2015-06-15 06:13] regener commented on #57
So I have this now, but it doesn't work, atleast I got no console log.

[code]

@JCKE got it, thanks

[2015-06-15 06:15] ghost commented on #57
@regener could you please wrap that in markdown code using 3 ` before and after it? Also, using keyword javascript after the first set of 3 gives it color coding

[2015-06-15 06:38] ozerugae commented on #57
Where did you place the code?

Try this for debugging (added an output to console.log on the second line):

[code]

You can also do

[code]

a line before the beginning of your code to check whether that will evaluate to true correctly when needed.

[2015-06-15 07:19] regener commented on #57
I have placed it where the

[code]

Is starting and replacing the default change lane method.

This spams "true" to the console.

[code]

Also yes, this shows up in console:

[code]

I think this detection does not work, since there is no console log shown.

[code]

Can I somehow print out the Boss's HP to console?
Yea, got it:

[code]

[2015-06-15 11:58] Kline- commented on #19
This seems to have been added in f1c54b239379496cb09a0a9c8ed19aa0d3ba52f3; can we please get a way to disable it? I re-opened the game this morning with almost enough for a new rank of AFK Gear and the auto-purchaser spent everything on manual click upgrades. I don't even click outside of raining gold, so how is that at all useful?

[2015-06-15 12:23] LMariachi commented on #19
@Kline- Comment out (or delete) the `purchaseUpgrades();` line from `function doTheThing();`

(This will disable all auto-purchasing except for initial badge items. Disabling only the click upgrades is a little more involved.)

[2015-06-15 12:40] russeli commented on #19
Disabling clicking upgrades can be done by changing the `avgClicksPerSecond` variable to 0

[2015-06-15 12:53] owah opened #93 "Unnecessary weapon upgrades"
hi,

is there any reason why the script should go above level 10 of each weapons upgrade, except for the endgame weapons (AFK clicker and NMB currently)?

I mean at some point a 10 damage increase costs as much as a 10,000 would. its just not right.

[2015-06-15 16:38] luxzg commented on #57
Yeah, when boss is alive and until it's 100% sure we got the money, script shouldn't leave. +1 for solving this

[2015-06-15 16:44] luxzg commented on #93
Just came to post this too. I have 31x Auto-fire cannon, and 48x Armor piercing rounds. And if I hadn't clicked manually upgrades for higher level upgrades I'd probably have a ton of those two without ever getting e.g. Railgun.

Perfect upgrade path is 10x -> than 10x of next level -> 10x of next level, than calculate the $/DPC ratio for weapons or $/health gain ratio for shields.

Also, I think s

[2015-06-15 16:48] luxzg commented on #15
Yes please +1 on this. At least when a spawner is alive in that lane. Since script is autoclicking now with Gold Rain, this can get you more gold than catching lanes with monsters with low health

[2015-06-15 16:57] gapple commented on #93
At some point, cheaper weapons provide more damage per gold spent.
Roughly if the lesser item is cheaper than 1/10 of the cost of the greater item, it is a better value.

In my game this morning before it ended:

| Item | Current Level | +DPS | Cost to Upgrade | +DPS / Gold | Order of value |
| --- | --- | --- | --- | --- | --- |
| Auto-fire Canon | 56 | 10 | 360M | 2.777777778e-08 | 4 |
| Advance

[2015-06-15 17:01] regener commented on #57
The main problem is sometimes the levels are changing faster than the script runs (lol).
For example I have started today's run and I see Level is jumping up with 2lvl/sec atleast, sometimes more xD

[2015-06-15 17:07] luxzg opened #94 "Disable "Throw Money At Screen""
Since this is the "gold retrieval script" it would be logical that this ability is also disabled once we have Boss in the lane. Actually, I'd disable it altogether, since it's useless, but oh well.

I've tried adding this, but seems to take no effect:

 disableAbility(ABILITIES.THROW_MONEY);

[2015-06-15 17:10] luxzg commented on #93
True, but not early on. There's absolutely no cost benefit of buying 48x Armor Piercing vs ZERO of Explosive Rounds (or Railgun/New Mouse Button abilities, which never unlock due to zero Explosive Rounds)

[2015-06-15 17:33] gapple commented on #93
I think the first level items are the one exception, since they have a smaller rate of price increase than later rounds (1.3 versus 2.2).

At the moment for auto-fire upgrades I have levels 35 / 10 / 10 / 9.
All first level upgrades so far cost a total of 6M, while the level 9 upgrade for fourth level was 584M.  That is a small delay towards fully upgrading later items, and provides a (small) DPS

[2015-06-15 17:42] gapple commented on #93
And armour is only purchased when health is low (< 30%).  With people throwing medics frequently, health stays high and more armour is not really needed, even though it is cheap.

[2015-06-15 17:44] leontada opened #95 "Variables renamed ? Valve forced refresh and the script is barelly working right now ?"
It happened 5minutes ago, and checking de CONSOLE LOG it says that the js cant find the variable LEVEL.

[2015-06-15 17:55] gapple commented on #95
The problem appears to be that `g_Minigame.CurrentScene().m_rgPlayerUpgrades` is missing an item, so that its indexes don't match the data it contains anymore, which was assumed by the upgrade function.

[2015-06-15 18:00] russeli commented on #95
There's now pull request(#96) pending to fix this issue.

[2015-06-15 18:09] leontada commented on #95
I tested your pull request and it worked perfectly! :+1:

[2015-06-15 18:55] win0na commented on #19
I have added a toggle in https://github.com/mouseas/steamSummerMinigame/commit/ff4ccc598a3b9b20ea9ea28c771d6bf10a0c16d2.

[2015-06-15 18:55] #19 closed

[2015-06-15 18:56] win0na commented on #52
If you feel the need to start up a discussion over what is specifically bought, go ahead. This issue has been resolved.

[2015-06-15 18:56] #52 closed

[2015-06-15 18:59] win0na commented on #95
Apologies for the wait. The specified pull request has been merged after looking it over.

[2015-06-15 18:59] #95 closed

[2015-06-15 19:06] AlyoshaVasilieva opened #97 "Syntax error, script broken"
From Chrome console:

[code]

The script is not changing lanes, so I do not think it is working. Using version ffc61ef48fe6aa89537f3da77c09ffc8950615a9.

[2015-06-15 19:11] win0na commented on #97
I pushed a fix at https://github.com/mouseas/steamSummerMinigame/commit/d77a05f9df8574f7a9a2d7d92b762fe896deea5f. Would you mind testing, please?

[2015-06-15 19:18] ghost commented on #97
Just tested it, I get `Uncaught ReferenceError: purchaseUpgradesToggle is not defined` as it is only mentioned in one place.

[2015-06-15 19:19] ghost commented on #97
Ok, so whoever did the most recent toggle didn't test it. you have `purcahseUpgradeToggle`, and `purchaseUpgradesToggle`

[2015-06-15 19:20] win0na commented on #97
That was me, and it was a slight typo error on my part. I've fixed it in https://github.com/mouseas/steamSummerMinigame/commit/ad1ec42092baadf70aae4e8533187c33354eb17f.

[2015-06-15 19:20] ghost commented on #97
Not yet, one says purchase, the other purcauhase

[2015-06-15 19:21] win0na commented on #97
_facepalm_ Fixed in https://github.com/mouseas/steamSummerMinigame/commit/416e6d21b7b4ae776f72795ee29af48f49f79869.

[2015-06-15 19:21] ghost commented on #97
haha ok now I'll test it. We all have our moments

[2015-06-15 19:22] win0na commented on #97
Okay, I swear this isn't intentional. I've _finally_ fixed it in https://github.com/mouseas/steamSummerMinigame/commit/76c49ab9915ef388a667aad5fca814016c572a6c.

[2015-06-15 19:22] ghost commented on #97
hahahahaha the spelling gods don't like you today my friend

[2015-06-15 19:24] win0na commented on #97
![b3tmibk](https://cloud.githubusercontent.com/assets/4269491/8168701/4215f74c-136a-11e5-89c6-80f8170743c3.png)

[2015-06-15 19:26] ghost commented on #94
Problem is it's an item, not an ability

[2015-06-15 19:29] ghost commented on #97
I'm still getting some errors: `Uncaught TypeError: Cannot read property 'childElements' of null`

[2015-06-15 19:31] win0na commented on #97
Could you attempt to fix it for about an hour? I just left my house.

[2015-06-15 19:31] ghost commented on #97
Yeah no problem, I'm on it

[2015-06-15 19:51] ghost commented on #97
Don't know what happened, but it seems to have fixed it self ¯\_(ツ)_/¯

[2015-06-15 20:01] IWannaBeATiger commented on #97
Something seems to be wrong with the cooldown on tactical nuke whenever it's off CD when it tries to use it

Tactical Nuke is purchased, cooled down, and needed. Nuke 'em.
VM2408:665

Uncaught ReferenceError: getCooldownTime is not defined

[2015-06-15 20:05] Chdata commented on #94
Rather, why don't we all spam it during the last hour or two. By then our upgrades will probably be way too high to even buy, so what other use would our gold have?

Worm holes should probably also be autospammed at that time too. Since bosses only get slower and slower over time, the longer we wait the more use we're getting out of it.

[2015-06-15 20:13] ghost commented on #97
I'm fixing it now

[2015-06-15 20:41] ghost commented on #97
It would seem commit https://github.com/mouseas/steamSummerMinigame/commit/ee013ebd4f82f56da5b78c9d1a507709beb7a1b6 got rid of a bunch of functions: `updateAvgClickRate()`, `getCooldownTime()`, `disableFlinchingAnimation()`, `disableDamageText()`

[2015-06-15 22:09] ZedTheYeti commented on #97
@JCKE I just merged Pull Request #99 in which added those back.

[2015-06-15 22:11] ghost commented on #97
Perfect, this issue can probably be closed then.

[2015-06-15 22:11] #97 closed

[2015-06-16 02:40] RaeveNoir commented on #93
The Gold to Stat ratio seems to be working correctly, but it really needs to be rushing to unlock the next tier instead of buying the 'most efficient' stat.

The first upgrade of Tier 3 is a measly 10k gold. Shouldn't spend 1.2 million on the Tier 1 just because it's more efficient than Tier 2.

Similar to this, health should be bought before just about anything, and rushed in the same manner. The

[2015-06-16 17:42] LMariachi opened #104 "startGoldRainClick() not working any more"
As of this morning it seems that startGoldRainClick() is no longer triggering.

EDIT: It's triggering sporadically but I can't tell why.

[2015-06-16 17:50] enygma999 commented on #93
Looking at total cost/dps for the weapons upgrades might be better in terms of mid-term efficiency - I've had a look at the auto-fire upgrades and the most efficient combination according to my analysis is 21-10-10-10-6. I haven't looked at the click upgrades yet, but expect they'll be similar. I think the code should be aiming to get to these stats (possibly taking the most efficient upgrade that

[2015-06-16 18:00] enygma999 opened #105 "How to compare elemental upgrades with others"
I've seen a few methods of working out the relative value of upgrading an elemental multiplier vs, say, an auto-fire one, but has anybody considered viewing 4 levels of elemental multiplier together as one upgrade multiplying damage by 1.5? We know the cost of each level, so we can work out how much upgrading each element would cost, how much extra damage we would get, and then we are able to comp

[2015-06-16 18:23] mouseas commented on #104
I just fixed it ~~25~~ 9 minutes ago, should be working now.

EDIT: forgot the version number bump for GM/TM

[2015-06-16 18:23] #104 closed

[2015-06-16 18:23] LMariachi commented on #104
Update: Seems like it works until this error shows up in console:

`Failed to load resource: the server responded with a status of 503 (Service Unavailable)`

`XMLHttpRequest cannot load https://steamapi-a.akamaihd.net/ITowerAttackMiniGameService/UseAbilities/v0001/. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://steamcommunity.com' is therefore not al

[2015-06-16 18:25] mouseas commented on #79
I've removed the disclaimer. Given that performance in-game has next to no effect out-of-game, I doubt Valve will care to crack down on auto-clickers. I also realize this script is very much a cheat, with or without an auto-clicker.

[2015-06-16 18:25] #79 closed

[2015-06-16 18:25] mouseas commented on #89
I'd say use it on minibosses, but only if not Raining Gold.

EDIT: To expand on this, I'd say most abilities should be reserved for boss levels, either for the boss (if the ability helps get money) or the minibosses (if it does damage). I think this because the cooldown for abilities is longer than the amount of time it takes to go through 10 levels.

[2015-06-16 18:28] mouseas commented on #93
Yeah, upgrades need to take unlocking into account; for each of the tiered upgrades, it should always aim for level 10 in each tier before considering DPS at all.

[2015-06-16 18:31] mouseas commented on #104
@LMariachi have you tried the latest version, as of 9 minutes ago (or 33 minutes if using manual install)?

[2015-06-16 18:50] LMariachi commented on #104
Yes, I'm up to date. It's still failing after some time, although that error hasn't shown up again.

[2015-06-16 18:52] enygma999 commented on #93
Agreed. As a side note related to my previous post, the most efficient click upgrade level is 29-10-10-10-6. The best system would probably buy each tier to level 10, then the final tier to level 6, then the first tier up to level 29 before caring about purchase efficiency. I'd code it up, but my code tends to be horrible and not fit for group use :/

[2015-06-16 19:04] LMariachi commented on #104
Relaunched broswer instead of just closing/resuming game and now it seems fine. **shrug**

Thanks!

[2015-06-16 19:11] mouseas commented on #93
@enygma999 Great, I look forward to it. For health, make sure it's still only buying health if current HP is below 30%; that's in place to avoid buying hp upgrades that aren't needed.

[2015-06-16 20:38] RaeveNoir commented on #93
I don't agree with only buying health when "needed", because then it gets into this terrible loop around level 500 or so of being dead within seconds but not having Tier 3 unlocked yet and never getting enough money to finish Tier 2. I had to manually spam it up to unlock Tier 3 and just a few points went from 100k health to 750k and no more issue.

If anything, the threshold to buy health should

[2015-06-16 20:53] Ruzihm commented on #93
So only buy when both:
1. your health is below some threshold, and
2. you have enough money to afford the most (immediately) price:bonus
efficient health buy of the health items are available.

Sometimes, you might just die because you can't afford the best value
health item.

Either way, you'll eventually get to the point that getting the 10th tier2
health item is cheaper han 10x the price of the

[2015-06-16 22:56] mouseas commented on #94
Done. See commit 21b58ebc945e27bb0b7e5c6a39320e72643fb01c

[2015-06-16 22:56] #94 closed

[2015-06-16 22:58] mouseas commented on #57
Can someone give me a tl;dr of whether this is confirmed and/or if a fix has been created?

[2015-06-16 23:00] ghost commented on #105
This would work, I've actually thought about this too. I'll look into it tonight

[2015-06-16 23:03] mouseas commented on #13
Switching lanes by elemental damage isn't very beneficial, so I'm closing this issue. If someone comes up with a good implementation that weighs elemental damage along with all the other lane choice factors, I'll consider it, but it needs to result in no less gold income than without it.

[2015-06-16 23:03] #13 closed

[2015-06-16 23:05] mouseas commented on #93
@Ranzear Good point. Maybe only consider having <50% hp after you have unlocked the 3rd tier of health upgrades; before unlocking tier 3 health, buying health upgrades has a higher priority and auto-purchaser upgrades each tier to 10.

[2015-06-16 23:08] ghost commented on #93
I think we talked in another thread somewhere about reserving cash for lucky upgrades/boss loot and stuff; maybe this could fall into that reserve?

[2015-06-17 00:55] mouseas commented on #105
I was also thinking about this today. Sounds like a good idea to add this into the auto purchase code.

[2015-06-17 00:59] mouseas commented on #93
@JCKE do you mean reserving some money so that the player can manually purchase health, or so that the auto purchaser always has enough to buy the next health upgrade?

Actually, come to think of it, reserving enough to buy the next health upgrade sounds like a good policy to determine how much to reserve. Any volunteers to implement this?

[2015-06-17 01:48] langdonx opened #107 "hasItem undefined"
For what it's worth, I just installed this on Chrome/TamperMonkey and had to monkey-patch it to get it working.  hasItem was undefined, so I just commented the conditional where it was used for revive.

Is/was that a Valve function?

[2015-06-17 03:02] ghost commented on #107
Fixed it, it was an older variation of `numItem()`.

[2015-06-17 03:02] #107 closed

[2015-06-17 03:44] mouseas commented on #93
@russeli implemented reserving enough gold to buy a health upgrade. We still need to adjust auto buy code to get 10 in each tier before upgrading according DPS/gold, though. Any takers?

[2015-06-17 03:54] mouseas commented on #93
Just discovered that buying ANY health upgrade will refill your hp, so buying the least expensive upgrade when hp is low might be a viable strategy once the top tier is unlocked.

[2015-06-17 03:57] ghost commented on #93
How about some sort of system that takes into account the last time you got near death? If it detects a high frequency it will halt spending on weapons and start going for health.

[2015-06-17 03:59] ghost commented on #93
@mouseas Also, and I know you've stated your stance on this before, but would it really hurt to add an optional autoclick now? It would just be another box to toggle on and off.

[2015-06-17 04:16] mouseas commented on #93
Not really. I realized on day 2 that it was a cheat script regardless of auto-clicking, and by day 3 it was clear no amount of cheating in-game was going to affect Valve negatively. As far as UI goes for auto-clicking, Since auto-clicking is off if clickrate is 0, we only need an option for "gold rain only" (with the false case being always-on).

Also, I fully agree on watching for frequent near-d

[2015-06-17 05:07] JCKE opened #108 "Ability mass spam near end of game"
We need to look into using up the abilities near the end of the game so they don't just go to waste. I've seen some of the other repos attempt something like this, but they fail to take into account the amount of an ability in addition to it's cooldown time. For example, max elemental damage has a cooldown of 60 seconds, if the user has 40 of them it would take at least 40 mins to use them all, so

[2015-06-17 21:09] ric2b opened #110 "Raining Gold auto-click stops working after a while (some minutes) of letting the script run"

[2015-06-18 00:05] mouseas commented on #110
@ric2b What version of the script are you running? I thought I fixed this a day ago.

[2015-06-18 00:52] ric2b commented on #110
It's been running great for a few hours now, though, maybe it's gone. I was running the latest version of about 12h ago, when the game restarted I went and grabbed the most recent version again.

[2015-06-18 16:33] #110 closed

[2015-06-19 19:23] regener commented on #57
Since not too many users had that yet, _I think_ you can close this.

[2015-06-19 19:38] #57 closed

[2015-06-21 09:51] apertureless opened #113 "Powermode needed"
Hey,
I think the scripts needs some kind of powermode, where it uses the items pretty fast.
The thing is if you start playing around 9 am, after the reset you will level super fast.

Right now I am level ~ 8.000.000 and I have every item nearly 500 times. Would be really cool if the script would use the other items, too, with a short delay because with all the cool down reduction in lane you can s

[2015-06-21 16:09] apertureless commented on #113
And it should be using wormholes etc. if you start a new game and have 6k wormholes, its a paint to click them by hand :3

[2020-04-10 02:09] #93 closed

[2021-06-07 05:50] #89 closed